/*
COLOR PALLET

off white   #dbd8e3
green    #7fa99b
purple   #5c5470
medium dark purple   #352f44
violet   #2a2438
*/

/* GLOBAL STYLES
-------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  html, body {
    height: 100% ;
    margin: 0;
    font-size: 62.5%; 
  }
body {
    background: #dbd8e3;
    font-family: 'Lexend', serif;
    font-size: 1.5rem;
}
h1, h2, h3 {
    font-family: 'Lexend', serif;
    font-weight: 400;
    margin: 0;
}

h1{
    font-size: 7rem;
    line-height: 0.85;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.4rem;
}
a:hover {
    color: #7fa99b;
    text-decoration: none;
}
/* links */
a {
    color: #5c5470;
}
footer a {
    color: #7fa99b;
}
footer a:hover {
    color: #5c5470;
}
.btn {
    background: #2a2438;
    color: #dbd8e3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4;
}
.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}
/*HOME
--------------------------*/
.home {
    background: url(../images/bg-home-office-city.jpg) no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
}
.home .content-wrapper {
    flex: 1 0 auto;
}
.content-bg {
    background: #dbd8e3; 
    opacity: 0.9;
    padding: 30px;
}
@media screen and (max-width:650px){
    .home .content-wrapper {
    padding: 10px;
    }
    .content-bg {
        padding: 20px;
    }
}

/*RESUME
--------------------------*/
.resume header::before {
    background: url(../images/bg-home-office-city.jpg) center;
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}
.resume-section {
    margin-bottom: 50px;
}
.resume-section h2 {
    border-bottom: 2px dashed #2a2438;
}
.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}
@media screen and (max-width:1200px){
    .download-link {
        position: absolute;
    }
}
@media screen and (max-width:500px){
    .resume header::befo